:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  
}
body {
  background-image: url("./assets/form.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  color: rgb(250, 235, 215);
  
  
}